<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChannelEngineShared.Configuration.BaseUrl" value="https://api-dev.channelengine.net/api/" />
		<add key="ChannelEngineShared.Configuration.ApiKey" value="541b989ef78ccb1bad630ea5b85c6ebff9ca3322" />
	</appSettings>
</configuration>